{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <title>Document</title>
    <style>
        header img {
    height: 120px;
    width: 250px;
}
    header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header li a:hover {
    color: rgb(15, 175, 214);
    transition: .3s;
}
    </style>
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="logo">
        <nav>
          <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'trainer' %}">TRAINER</a></li>
            <li><a href="{% url 'batchVW' %}">CREATE BATCH</a></li>
            <li><a href="{% url 'batchdisplay' %}">BATCHES</a></li>
            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
          </ul>
        </nav>
    </header>
    <br><br>
    <br><br>
    <br><br>
    <table>
        <tr>
            <th><u>Trainer ID</u></th>
            <th><u>NAME</u></th>
            <th><u>SALARY</u></th>
            <th><u>WORK EXPERIENCE</u></th>
            <th><u>DATE OF JOIN</u></th>
            <th><u>PHOTO</u></th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.tid}}</td>
            <td>{{i.name}}</td>
            <td>{{i.sal}}</td>
            <td>{{i.work_exp}}</td>
            <td>{{i.Date_of_join}}</td>
            <td><img src="{{i.photo.url}}" alt=""></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>